<div class="mt-5 home">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <!-- ------------------ -->
    <div
      class="col-md-6 col-lg-5"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <h1 class="text-center mb-4">Welcome to the Exam System</h1>
      @if (loggedIn) {
      <p class="text-center">
        You are logged in! Check out the available exams or view your results.
      </p>
      <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-primary" [routerLink]="['/exam-list']"
          >Available Exams</a
        >
        <a class="btn btn-secondary" [routerLink]="['/results']"
          >View Results</a
        >
      </div>
      } @else {
      <p class="text-center">
        Please log in or register to access the exam system.
      </p>
      <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-primary" [routerLink]="['/account/login']">Login</a>
        <a class="btn btn-secondary" [routerLink]="['/account/register']"
          >Register</a
        >
      </div>
      }
    </div>
    <!-- ----------------- -->
    <div
      class="col-md-6 col-lg-7 mb-4"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <img
        src="imgs/bg study.jpg"
        alt="Exam System Logo"
        class="img-fluid w-100 h-100"
      />
    </div>
  </div>
</div>
