<div class="container mt-5 p-5 border rounded">
  <div class="row">
    <div class="col-md-6">
      <h2>Welcome to exam</h2>
      <p class="fs-6 text-muted">
        all about activities and exams will be update here.
      </p>
      <img
        src="imgs/study2.JPG"
        alt=""
        class="img img-fluid m-0"
        style="width: 430px"
      />
    </div>
    <div class="col-md-6">
      <!-- register , login-->
      <router-outlet />

      <!-- ================ -->
    </div>
  </div>
</div>
